.aboutWrapper {
  display: grid;
  margin-top: 150px;
  grid-template-columns: auto 2fr;
  gap: 10px;
  align-items: center;

  .avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid #59C9DB;
    background: url('../../assets/avatar.jpeg');
    background-position: 20% 50%;
    background-size: 140% 130%;
    border-radius: 50%;
  }
}