.mainTitleWrapper {
  z-index: 1;
  cursor: default;
  user-select: none;
  position: absolute;
  top: 40%;

  h1 {
    margin: 0;
    padding-bottom: 0;
    font-size: 3rem;
  }
}

@media only screen
and (device-width: 414px)
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 2),
screen and (max-width: 390px) {
  .mainTitleWrapper {
    h1 {
      font-size: 2.6rem;
    }
  }
}
