header {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;

  a {
    font-size: 1.5rem;
    &:hover {
      text-decoration: none;
    }

    div {
      font-size: 14px;
      color: hsla(0,0%,0%,0.8);
    }
  }
}
