@import '../../styles/global';

.postsList {
  display: grid;
  row-gap: 40px;
  width: 100%;

  a {
    color: #272727;

    &:hover {
      color: $blueColor;
      text-decoration: none;
    }
  }
}
